<div class="wrapper font-main">
    <div class="left-side" [style.background]="leftSideBackgroundColor | async">
        <div class="profile-container">
            <img class="profile" src="assets/drago-img.jpeg" alt="{{data.firstName}} {{data.lastName}}">
            <h1 class="name">{{data.firstName}} {{data.lastName}}</h1>
            <h3 class="tagline">{{data.jobTitle}}</h3>
        </div>
        <div class="contact-container container-block">
            <div>
                <a href="mailto:{{data.email}}">
                        <span>
                            <fa-icon [icon]="emailIcon" size="2x"></fa-icon>
                        </span>
                </a>
            </div>
            <div>
                <a href="tel:{{data.phone}}">
                        <span>
                            <fa-icon [icon]="phoneIcon" size="2x"></fa-icon>
                        </span>
                </a>
            </div>
            <div>
                <a href="{{data.github}}">
                        <span>
                            <fa-icon [icon]="githubIcon" size="2x"></fa-icon>
                        </span>
                </a>
            </div>
            <div>
                <a href="{{data.linkedin}}">
                        <span>
                            <fa-icon [icon]="linkedInIcon" size="2x"></fa-icon>
                        </span>
                </a>
            </div>
        </div>

        <div class="interests-container container-block">
            <h2 class="container-block-title">Technical Skills</h2>
            <ul class="list-unstyled interests-list">
                <li>Tensorflow</li>
                <li>Pytorch</li>
                <li>Sci-Kit learn</li>
                <li>Pandas</li>
                <li>Django</li>
                <li>Python</li>
                <li>Qiskit</li>
                <li>DB</li>
                <li>Data Leak</li>
                <li>Spring-Boot</li>
                <li>Spring-Aop</li>
                <li>AMQP(RabbitMQ)</li>
                <li>Docker</li>
                <li>Kubernettes</li>
                <li>Helm Charts</li>
                <li>CI/CD</li>
                <li>OpenShift</li>
                <li>AWS</li>
                <li>HTML</li>
                <li>CSS ( LESS , SCSS )</li>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>D3.js</li>
                <li>Angular</li>
                <li>Ionic</li>
                <li>Cordova</li>
                <li>Node.js</li>
                <li>SQL</li>
            </ul>
        </div><!--//interests-->

        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item">
                <h4 class="degree">M.Sc. Applied Informatics</h4>
                <h5 class="meta">Unversity of Applied Sciences Brandenburg</h5>
                <div class="time">2017 - 2020</div>
            </div><!--//item-->
            <div class="item">
                <h4 class="degree">B.Sc. Applied Informatics</h4>
                <h5 class="meta">Unversity of Applied Sciences Brandenburg</h5>
                <div class="time">2014 - 2017</div>
            </div><!--//item-->
        </div><!--//education-container-->

        <div class="education-container container-block">
            <h2 class="container-block-title">Awards</h2>
            <div class="item">
                <h4 class="degree">ADAC</h4>
                <h5 class="meta">Acknowledge of Exceptional Performance</h5>
                <p>Taken part in different extracurricuilar activities.</p>
                <div class="time">Sept 2019</div>
            </div><!--//item-->
        </div><!--//education-container-->

        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-unstyled interests-list">
                <li>Spanish <span class="lang-desc">(Native)</span></li>
                <li>English <span class="lang-desc">(Advanced)</span></li>
                <li>German <span class="lang-desc">(Advanced)</span></li>
                <li>Italian <span class="lang-desc">(Advanced)</span></li>
                <li>Slovenian <span class="lang-desc">(Confident)</span></li>
                <li>Serbian <span class="lang-desc">(Confident)</span></li>
                <li>French <span class="lang-desc">(Basic)</span></li>
                <li>Catalan <span class="lang-desc">(Confident)</span></li>
                <li>Russian <span class="lang-desc">(Basic)</span></li>
            </ul>
        </div><!--//interests-->


    </div>
    <div class="right-side">

        <section class="section summary-section">
            <h2 class="section-title" [style.color]="rightSideSectionTitleColor | async">
                <span class="icon-holder"
                      [style.background]="rightSideIconHolderBackground | async"><fa-icon
                        [icon]="faBiefcase" size="xl"></fa-icon><i class="fas fa-user"></i></span>Career Profile
            </h2>
            <div class="summary">
                <p class="color-blod">Professional Background</p>
                <p>Dragoljub Milasinovic brings 3 years of experience in Data Science and Machine Learning and 4 years
                    of experience as a Full Stack Developer in both Agile and Waterfall contexts implementing modern
                    stack applications.</p>
                <p>Prior to Accenture Dragoljub was a Scientific Assistant at the University of Applied Sciences
                    Brandenburg & a Consultant for NetworkedAssets.</p>
                <p>Dragoljub holds a Masters degree in science of applied informatics & an ADAC award.</p>
            </div><!--//summary-->
        </section><!--//section-->

        <section class="section experiences-section">
            <h2 class="section-title" [style.color]="rightSideSectionTitleColor | async">
                <span class="icon-holder"
                      [style.background]="rightSideIconHolderBackground | async"><fa-icon
                        [icon]="faBiefcase" size="xl"></fa-icon></span>Experiences
            </h2>

            <div class="item" *ngFor="let experience of experiences$ | async ">

                <div class="meta-company">
                    <div class="company-brand">
                        <img [src]="experience.companyBrand">
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{experience.title}}</h3>
                            <div class="time"> {{experience.fromDate.month}} {{experience.fromDate.year}}
                                - {{experience.toDate}}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{experience.company}}</div>
                    </div><!--//meta-->
                </div>


                <div class="details">
                    <div [innerHTML]="experience.description"></div>
                </div><!--//details-->
            </div><!--//item-->

        </section><!--//section-->

        <section class="section experiences-section">
            <h2 class="section-title" [style.color]="rightSideSectionTitleColor | async">
                <span class="icon-holder"
                      [style.background]="rightSideIconHolderBackground | async"><fa-icon
                        [icon]="faBookOpen" size="xl"></fa-icon></span>Education
            </h2>

            <div class="item">
                <div class="meta-company">
                    <div class="company-brand">
                        <img src="https://www.mystipendium.de/sites/default/files/th-brandenburg.png">
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">M. Sc. Applied Informatics</h3>
                            <div class="time">2017 - 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Applied Sciences Brandenburg</div>
                    </div><!--//meta-->
                </div>


                <div class="details">
                    <div>
                        <p>This masters degree helped me to specialise as a data scientist.</p>
                        <p>My masters thesis was part of a cooperation project to implement a SIEM system in which I was
                            the responsible for the research, design and implementation of a recommendation engine.</p>
                        <p>This endevour led me to build a penetration testing laboratory using a range of virtual
                            machines and a custom network plan. Furthermore a big data pipeline was needed to feed the
                            recommendation engine. The integration of complex techniques was needed to achieve the
                            systems desired functionality e.g.: actor critic training & co-reference resolution in
                            natural language processing.</p>
                        <p>I implemented different white papers on machine learning: style transfer, generative
                            adversarial networks, deep reinforcement learning.</p>
                        <p>A deep dive in explainable artificial intelligence enabled me to built a bridge between my
                            technical expertises and stake holders interests.</p>
                        <p>I researched automatic speech processing both based on neuronal networks and gaussian
                            processes</p>
                        <p>Worked as a professors assistant designing and implementing programming tasks with IBM
                            Quiskit for a specialisation on quantum computing</p>
                    </div>
                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                <div class="meta-company">
                    <div class="company-brand">
                        <img src="https://www.mystipendium.de/sites/default/files/th-brandenburg.png">
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">B. Sc. Applied Informatics</h3>
                            <div class="time">2014 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Applied Sciences Brandenburg</div>
                    </div><!--//meta-->
                </div>

                <div class="details">
                    <div>
                        <p>My bachelors degree helped me to specialise as a full stack developer with focus on cloud
                            computing.</p>
                        <p>A serverless application analysing possible architectures for conventional web applications
                            resulted out of my thesis.</p>
                    </div>
                </div><!--//details-->
            </div><!--//item-->

        </section><!--//section-->

        <section class="section experiences-section">
            <h2 class="section-title" [style.color]="rightSideSectionTitleColor | async">
                <span class="icon-holder"
                      [style.background]="rightSideIconHolderBackground | async"><fa-icon
                        [icon]="faPlay" size="xl"></fa-icon></span>Pet Projects
            </h2>
            <div class="item">
                <div class="meta-company">
                    <div class="toy-project">
                        <img src="assets/ngrx-pub-sub-viz-screenshot.png">
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">D3.js visualization to navigate indirect dependencies</h3>
                        </div><!--//upper-row-->
                        <div class="details">By using a graph structure you'll be able to follow its dependencies for a
                            preset depth of 4. The anonymized data was scraped from typescript code that implements
                            effects with rxjs
                            <p><a href="https://dragoljubthb.github.io/ngrx-pub-sub-viz/" target="_blank">Check it
                                out!</a></p>
                        </div>
                    </div><!--//meta-->
                </div>
            </div><!--//item-->


        </section>

    </div>
</div>